/*  Author : Rahul Shukla  */

button{
    cursor: pointer;
} 

/* body data */
.container {
  width: 90vw;
  max-width: 85vw;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.container-full {
  margin:0 auto;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.doc-header{
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items:center;
}

.doc-header-100 {
  min-width: 100%;
}

.doc-header-80{
  min-width: 80%;
}

.doc-header-70{
  min-width: 70%;
}
 
.doc-header-right{
  font-size: 1rem;
}

.main {  
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
}


.main .main-title{
  margin:0 auto;  
  width:70%;
  text-align: center;
}


.main .desc{
  margin: 0 auto;
  width: 85%;
}

.button-part{
  display: flex;
  justify-content: space-evenly;
  width: 20.75rem;
  margin: 0 auto;
}

.desc-code{
  display: flex;
  place-content: center;
  min-width: 29rem;
  background-color: var(--dark-black);
  padding: 1rem;
  color: var( --mint-white);
}

.section-present {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 20rem;
  background-color: var(--light-more-blue);
  padding: 3rem;
  margin: 1rem auto;
}
 
.footer{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  position:relative;
  min-width: 100%;
  color: var(--light-more-black);
}

.connect-link{
  color: var(--dark-blue);
}


/*document-box  */
.document-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:2rem;
  min-height: 50vh;
}

.side-bar{
  flex: 0 0 15rem; 
}


.right-container{
  margin: 0px auto;
  max-width: 65rem;
  flex: 1 1 0%;
}

/* sidebar list */
.list-topic{
  color: var(--light-black);
}

.hr{
    margin: 2rem 0rem;
    width: 100%;
    height: 1px;
    background-color:var(--light-black);
}

/* hightlight code */

.code {
  margin: 0 auto;
  font-size: 1em;
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  padding: 1rem;
}


.code-simple {
  margin: 0 auto;
  font-size: 1em;
  cursor: pointer;
}

.btn-1{
  padding: 0.5rem 1rem;
}

/*
scroll css
*/

::-webkit-scrollbar-track
{
	background-color: var(--light-black);
}

::-webkit-scrollbar
{
	width: 5px;
  background-color: var(--light-more-black);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--light-black);
	border: 1px solid var(--light-black);
}

