
/* varient size */

.f-xs{
    font-size: 0.5rem; /*  8px */
}

.f-s{
  font-size: 1rem;   /*  16px */
}

.f-m{
  font-size: 1.5rem;  /* 24px */
}

.f-l {
  font-size:2rem;    /* 32px */
}

.f-xl {
  font-size:2.5rem;   /* 40px */
}

.f-xxl {
  font-size:4rem;   /* 64px */
 }

/* varient padding */

.p-xs{
  padding: 0.5rem; /*  8px */
}

.p-s{
  padding: 1rem;   /*  16px */
}

.p-m{
  padding: 1.5rem;  /* 24px */
}

.p-l {
  padding:2rem;    /* 32px */
}

.p-xl {
  padding:2.5rem;   /* 40px */
}

.p-xxl {
  padding:4rem;   /* 64px */
}

/* varient of margin top  */

.mt-s{
  margin-top: 0.5rem;
}

.mt-m{
margin-top: 1rem;
}

.mt-l{
  margin-top: 1.5rem;
}

/* varient of margin bottom  */

.mb-s{
  margin-bottom: 0.5rem;
}

.mb-m{
  margin-bottom: 1rem;
}

.mb-l{
  margin-bottom: 1.5rem;
} 


/* varient of margin right  */

.mr-s{
  margin-right: 0.5rem;
}

.mr-m{
margin-right: 1rem;
}

.mr-l{
  margin-right: 1.5rem;
}

/* varient of margin left  */
.ml-s{
  margin-left: 0.5rem;
}

.ml-m{
margin-left: 1rem;
}

.ml-l{
  margin-left: 1.5rem;
}



/* padding top  */

.pt-s{
  padding-top: 0.5rem;
}

.pt-m{
  padding-top: 1rem;
}

.pt-l{
  padding-top: 1.5rem;
}



/* padding bottom  */

.pb-s{
  padding-bottom: 0.5rem;
}

.pb-m{
  padding-bottom: 1rem;
}

.pb-l{
  padding-bottom: 1.5rem;
}

/* padding left  */

.pl-s{
  padding-left: 0.5rem;
}

.pl-m{
  padding-left: 1rem;
}

.pl-l{
  padding-left: 1.5rem;
}


/* padding  right */

.pr-s{
  padding-right: 0.5rem;
}

.pr-m{
  padding-right: 1rem;
}

.pr-l{
  padding-right: 1.5rem;
}

/* varient margin */

.m-xs{
  margin: 0.5rem; /*  8px */
} 

.m-s{
  margin: 1rem;   /*  16px */
}

.m-m{
  margin: 1.5rem;  /* 24px */
}

.m-l {
  margin:2rem;    /* 32px */
}

.m-xl {
  margin:2.5rem;   /* 40px */
}

.m-xxl {
  margin:4rem;   /* 64px */
}

/* add margin auto left and right */

.margin-auto{
  margin:0 auto;
}

/* varient size of border  */

.br-s{
  border-radius: 5px;    /* 5px */
}

.br-m{
  border-radius: 10px;    /* 10px */
}

.br-l{
  border-radius: 15px;    /* 15px */
}  

.br-f{
  border-radius:999px;    /* 999px */
}

.font-xs{
  font-weight: 300;
}

.font-s{
  font-weight: 600;
}

.font-m{
  font-weight: 400;
}

.font-l{
  font-weight: 600;
}

.font-xl{
  font-weight: 700;
}

.font-xxl{
  font-weight: 900;  
}

.bt{
  border-bottom: 1px solid var(--light-black);
}
/* for  bottom line */
.hr{
    margin: 2rem 0rem;
    width: 100%;
    height: 1px;
    background-color:var(--light-black);
}

/* flex use class */
.flex{
  display: flex;
}

.flex-row {  
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* hightlight code */

.code {
    margin: 0 5%;
    padding-left: 2rem;
    font-size: 1em;
    cursor: pointer;  
}