
/* 
---------------------------------------------
reset css  
--------------------------------------------- 
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  html{
      font-size: 62.5%;
  }
  
  body {
    font-family: 'Andika', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: var(--mint-white);
    line-height: 1.5;
  }
  
  
  img, picture, video, canvas,iframe, svg {
    display: block;
    max-width: 100%;
    block-size: auto;
    max-inline-size: 100%;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
 p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  } 
  
  