/*
|| Alert CSS
*/

.alert{
    padding: 1rem 1.5rem;
    margin:0.2rem;
    border-radius: 0.5rem;
    max-width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

/* alert with fill color */
.alert-primary{
    background-color: var(--primary-color);
    color:var(--mint-white);
}

.alert-warning{
    background-color: var(--warning-color);
    color:var(--ligh-black);
}
  
.alert-success{
    background-color: var(--success-color);
    color:var(--mint-white);
} 

/* alert with border */

.alert-primary-border{
    border:1px solid var(--primary-color);
}

.alert-warning-border{
    border:1px solid var(--warning-color);
}
  
.alert-success-border{
    border:1px solid var(--success-color);
}


/* set postion */

.alert-bottom-right{
    position:fixed;
    bottom: 0;
    right: 0;
}

.alert-top-left{
    position:fixed;
    top: 0;
    right: 0;
    z-index: 1;  
} 


