/* Below add all component*/

/* button  css */
@import url("./button.css");

/* avatar  css */
@import url("./avatar.css");


/* Alert  css */
@import url("./alert.css");



/* Badge  css */
@import url("./badge.css");


/* card  css */
@import url("./card.css");


/* image  css */
@import url("./image.css");

/*input css*/
@import url("./input.css");


/*Toast Notify Snanckbar*/
@import url("./toast_notify_snackbar.css");
