/*
|| avatar css
*/

/* Main Avatar */
.avatar{
    margin: 0.3rem;
    border-radius: 100%;
}  

.avatar-img{ 
    border-radius: 100%;
    object-fit: fill;
}

.avatar-xs{
    width: 2rem;  
    height: 2rem;
}

.avatar-s{
    width: 3rem;
    height: 3rem;  
}

.avatar-m{
    width: 4rem;
    height: 4rem;
}

.avatar-l{ 
    width: 6rem;
    height: 6rem;
}

/* border varient */
.avatar-square{
    border-radius: 100%;
}

.avatar-circle{
    border-radius:100%
}

.avatar-img-square{
    border-radius: 10%;
}

.avatar-img-circle{
    border-radius: 100%;
}
