/*
|| avatar css
*/

.avatar{ 
    margin: 0.3rem; 
    object-fit: fill;
}

/* varient size */
.avatar-xs{
    width: 2rem;  
    height: 2rem;
}

.avatar-s{
    width: 3rem;
    height: 3rem;  
}

.avatar-m{
    width: 4rem;
    height: 4rem;
}

.avatar-l{ 
    width: 6rem;
    height: 6rem;
}

/* varient type */

.avatar-square,
.avatar-img-square{
    border-radius: 10%;
}

.avatar-circle,
.avatar-img-circle{
    border-radius: 50%;
}
         

  
 
