/* 
||Badge Css
*/
.badge {
    position: relative;
} 

.badge-img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.625rem;
}

.badge-icon {
    margin: 0 0.625rem;  
    font-size: auto;
}
 
.badge-number{
    font-size: 0.5625rem;
    background: var(--warning-color);
    color: var(--dark-black);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.625em;
    right: -0.0625em;
    font-weight: 700;
}

.badge-item {
    bottom: 0.3125rem;
    right: 0.625rem;
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    border: 2px solid var(--mint-white);
}

/* online user  css */

.badge-online {
    background-color: var(--success-color);
}

/* offilne user css*/

.badge-offline {
    background-color: var(--light-black);
}

/* size varient */
.icon-lg{
    font-size: 3rem;
}

.icon-md{
    font-size: 2rem;
}

.icon-sm{
    font-size: 1rem;
}
