/* 
||Badge
*/

.badge {
    position: relative;
    
} 
 
.badge-img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 10px;
}

.badge-icon {
    margin: 0 10px;
    font-size: 2rem;
}

.badge-number{
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0.9375rem;
    right: -0.5rem;
    position: absolute;
    font-size: 0.9rem;
    color: var(--mint-white);
    font-weight: 900;
    height: 1.125rem;
    width: 1.125rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 14px;
}

.badge-item {
    bottom: 0.3125rem;
    right: 0.625rem;
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    border: 2px solid var(--mint-white);
}

/* online user  css */

.badge-online {
    background-color: var(--success-color);
}

/* offilne user css*/

.badge-offline {
    background-color: var(--light-gray);
}


