/*
|| Card Css
*/
.card{
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 18rem;
    max-width: 18rem;
    background-color: var(--mint-white);    
    outline: 1px solid var(--light-more-black);
}  

.card-overlay{
    position: relative;
}

.card-header{
    padding: 0.7rem;
} 

.card-image{
    max-width: 100%;
    object-fit: cover;
    min-height: 10rem;
}  

.card-title{
    font-weight: 700;
    font-size: 1.4rem;
}

.card-subtitle{
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0.05rem 0rem; 
    color: var(--light-more-black);
}

.card-info {    
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.7rem;
}

.card-footer {
    font-size: 1.2rem;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card-item-block { 
    width: 100%;
}

.text-btn {
    color: var(--primary-color);
    font-weight: 500;
}

.card-icon {
    border-radius: 50%;
    padding: 0.3rem;
    color: var(--light-blue);
}

.card-with-badge {
    position: absolute;
    letter-spacing: 2px;
    top: 1rem;
    left: 0px; 
    padding: 0.2rem;
    width: 3rem;
    background: var(--primary-color);
    color: var(--mint-white);
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 0px 9px var(--primary-color);
} 

.card-shadow {
    box-shadow: 0px 0px 4px var(--light-black);
}

.card-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.card-title-overlay {
    position: absolute;
    top:8rem;
    padding: 1rem;
    color: var(--mint-white);
}  

.mrp-price {
    font-weight: 400;
    text-decoration: line-through;
    color: var(--light-more-black);
}

.card-discount {
    color: var(--alert-color);
    font-weight: 500;
}

.card:hover{
    box-shadow: 0 0 4px var(--light-blue);
}

/*  horizontal card css */
.card-H{
    max-width: 18rem;
}

.card-part-horizontal {
    display: flex;
    flex-direction: row;
}    

.card-img-horizontal {
    flex:0 0 7rem;  
}
  
.card-header-horizontal{
    flex:1 0 0rem;
    padding:0rem 1rem; 
}

.card-image-hr{
    max-width: 100%;
    object-fit: cover;
    min-height: auto;
} 