/*
|| Modal 
*/
.modal {
    position: fixed;
    z-index: 1; 
    padding-top: 8rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: var(--light-more-black); 
}

.modal-content {
    position: relative;
    background-color: var(--mint-white);
    margin:0 auto;
    padding: 0;
    border: 1px solid var(--light-more-black);
    box-shadow: 0px 0px var(--light-black);
    border-radius: 10px;
}


/* small || medium | large content */
.modal-s{
    width: 35%;
    min-width: 40%;
}

.modal-m{
    width: 50%;
    min-width: 55%;
}

.modal-l{
    width: 60%;
    max-width: 75%;
}

/* Model Close Button */
.modal-close {
    position: absolute;
    top:0px;
    right: 1rem;
    color: var(--light-black);
    font-size: 1.75rem;
    font-weight: bold;
    z-index: 1;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--warning-color);
    cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom:1px dotted var(--dark-black);
}

.modal-header-title{
    flex-grow:1;
}

.modal-body {
    padding: 0.5rem 1rem;
}

.modal-footer {
    padding: 0.5rem 1rem;  
    color: var(--light-black);
}