:root{
  
    /* Spacings */
    --space-xs: 0.5rem;
    --space-sm: 1rem; 
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xlg: 2.5rem;
    --space-xxlg: 4rem;

    /* Radius */ 

    --radius-sm: 5px;
    --radius-md: 10px;
    --radius-lg: 15px;
    --radius-round: 50%;

}